{{ define "main" }}


<section style="padding-top: 1rem;">
  <div class="container-fluid p-0">
    <div class="row featured-post-slider m-0" style="margin: 0;">
      {{ range (where .Site.RegularPages "Type" "slider")}}
      <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-0">
        <article class="card text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100" src="{{.Params.Image | absURL}}" alt="post-thumb">
          <!--div class="card-img-overlay">
            <div class="card-content"-->
              <!--p class="text-uppercase">{{.Params.Categories}}</p-->
              <!--h4 class="card-title mb-4"><a class="text-white" href="{{.Permalink}}">{{.Title}}</a></h4-->
              <!--a class="btn btn-outline-light" href="{{.Permalink}}">read more</a-->
            <!--/div>
          </div-->
        </article>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- blog post -->
<section class="section masonry-section">
  <div class="container-fluid">

    <div class="row masonry-container">
      {{ range where (where site.RegularPages.ByWeight "Section" "in" site.Params.mainSections) ".Params.show_on_home_page" true }}
      <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
        <!--article class="text-center">
          <img class="img-fluid mb-4" src="{{.Params.Image | absURL }}" alt="post-thumb">
          <p class="text-uppercase mb-2">{{.Params.Categories}}</p>
          <h4 class="title-border"><a class="text-dark" href="{{.Permalink}}">{{.Title}}</a></h4>
          <p>{{.Summary}}</p>
          <a href="{{.Permalink}}" class="btn btn-transparent">read more</a>
        </article-->
        <article class="card text-center text-white border-0 rounded-0">
          <img class="card-img rounded-0 img-fluid w-100" src="{{.Params.Image | absURL}}" alt="post-thumb">
          <div class="card-img-overlay card-hover-overlay">
          </div>
          <a class="card-content" href="{{.Permalink}}">
            <p class="text-uppercase">{{.Section}}</p>
            <h4 class="card-title mb-4">{{.Title}}</h4>
            <!--a class="btn btn-outline-light" href="{{.Permalink}}">read more</a-->
          </a>
        </article>
      </div>
      {{ end }}
    </div>



  </div>
</section>
<!-- /blog post -->

{{partial "instafeed.html" . }}

{{ end }}